{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <h1>Register</h1>

  {% if registered %}
    <strong>Registered successfully</strong>
  {% else %}
    <strong>Register</strong>
    <form id="user_form" method="POST" action="/user/register" enctype="multipart/form-data">
      {% csrf_token %}
      <strong>Account setup</strong>
      {{ user_form.as_p }}
      <strong>Profile setup</strong>
      {{ profile_form.as_p }}
      <button type="submit">Register</button>
    </form>
  {% endif %}
{% endblock %}