{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Chat: {{ room_name }}{% endblock %}

{% block content %}

<div class="flex justify-center items-center flex-col w-full">

  <div class="flex justify-center items-center">
    <h1 class="text-2xl font-semibold text-gray-900 my-10">Chat: {{ room_name }}</h1>
  </div>

  <div id="message_log" class="mb-10 mx-4 py-10 px-14 w-1/2 min-h-96 max-h-96 overflow-y-scroll text-sm text-gray-900 bg-white/50 rounded-lg border border-gray-300 shadow-md">
      
  </div>

  <label for="input_message" class="sr-only">Your message</label>
  <div class="flex items-center px-2 py-4 mb-10 w-1/2 rounded-lg bg-gray-50 shadow-md">
    <textarea id="input_message" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"  placeholder="Your message..."></textarea>
    <button type="submit" id="send_message" class="inline-flex transition ease-in-out justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100">
      <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20"><path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/></svg>
      <span class="sr-only">Send message</span>
    </button>
  </div>

</div>

{{ room_name|json_script:"room-name" }}

<script>
  const chat_room_name = JSON.parse(document.getElementById("room-name").textContent);
  console.log('Connecting to WebSocket at ws://' + window.location.host + '/ws/user/chat/' + chat_room_name + '/');
  const chat_socket = new WebSocket('ws://' + window.location.host + '/ws/user/chat/' + chat_room_name + '/');

  chat_socket.onmessage = function(event) {
    const data = JSON.parse(event.data);
    const message_log = document.getElementById("message_log");

    const message = document.createElement("div");
    message.classList.add("p-1.5", "rounded-lg", "max-w-xl"  );

    message.innerHTML = `
      <div class="flex gap-3 mb-2">
        <img class="w-8 h-8 rounded-full ring-2 ring-gray-500 object-cover" src="${data.profile_photo_url}">
        <div class="flex flex-col w-auto max-w-xl shadow-sm leading-1.5 py-4 px-6 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl">
          <div class="flex items-center space-x-2 rtl:space-x-reverse">
            <span class="text-sm font-semibold text-gray-900">${data.username}</span>
            <span class="text-sm font-normal text-gray-500">${data.time_sent}</span>
          </div>
          <p class="text-sm font-normal py-2.5 text-gray-900">${data.message}</p>
        </div>
      </div>
    `;
    
    message_log.appendChild(message);
    message_log.scrollTop = message_log.scrollHeight;
  }

  chat_socket.onclose = function(event) {
    console.error('Chat socket closed unexpectedly');
  }

  document.getElementById("input_message").focus();
  document.getElementById("input_message").onkeyup = function(event) {
    if (event.key === "Enter") {
      document.getElementById("send_message").click();
    }
  }

  document.getElementById("send_message").onclick = function(event) {
    const message_dom = document.getElementById("input_message");
    const message = message_dom.value;
    chat_socket.send(JSON.stringify({
      'message': message
    }));
    message_dom.value = '';
  }
</script>

{% endblock %}